<ion-view title="Pet Feeder" hide-nav-bar="true" id="page2" style="background-color:#000000;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div>
      <img src="img/CnfFof0YSta64SXJDZbc_ScreenShot2016-07-21at6.48.14PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="petFeeder-form1" class="list">
      <div class="spacer" style="width: 300px; height: 33px;"></div>
      <ion-item class="range range-dark" id="petFeeder-range1">Amount
        <input type="range" value="3" min="1" max="10" step="1" name="slider">
      </ion-item>
    </form>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <button id="petFeeder-button1" style="font-weight:600;color:#222222;font-size:18px;border-radius:16px 16px 16px 16px;" class="button button-energized  button-block">Feed</button>
    <div class="spacer" style="width: 300px; height: 44px;"></div>
    <div id="petFeeder-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#D3D3D3;">Messaging</p>
    </div>
  </ion-content>
</ion-view>