<ion-view title="Timer" hide-nav-bar="true" id="page4" style="background-color:#000000;" class=" " style="margin: 0px;padding: 0px;">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="">
            <img src="img/CnfFof0YSta64SXJDZbc_Screen Shot 2016-07-21 at 6.48.14 PM.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 9px;"></div>
        <h1 id="timersummary-heading1mary-heading1" style="color:#B4B4B4;text-align:center;" class=" ">Pet Feeder</h1>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
     <ion-list id="cartTabDefaultPage-list2" style="background-color: #FFF;">
     <a ng-click="removeTime(feeding.id)" ng-repeat="feeding in Data.times" href="" style="display:block; height:100%;width:100%;text-decoration: none;">
      <ion-item  class="item-icon-right" id="cartTabDefaultPage-list-item2" style="background-color: #FFF;">
        {{feeding.time}} &nbsp;&nbsp;
        <span style="width:10px;background-color: #ffc900;margin-right: 3px" ng-repeat="n in range(feeding.amount)">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <i class="icon ion-android-remove-circle" style="color: #a00"></i>
      </ion-item>
    </a>
    <a href="" ng-click="gotoAdd()" style="display:block; height:100%;width:100%;text-decoration: none;">
      <ion-item class="item-icon-right" id="cartTabDefaultPage-list-item3" style="background-color: #FFF;">
      Add Feeding Time
        <i class="icon ion-android-add-circle" style="color: #080"></i>
      </ion-item>
      </a>
    </ion-list>
    </ion-content>
</ion-view> 
